<div class="content">
  <div class="title text-center">
    <h1>Mi portafolio</h1>
  </div>

  <div class="proyects container">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>MeCubro</mat-card-title>
        <mat-card-subtitle>Insurtech</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQTh4RXQFh2QI5A8IhCctv--iAuILcWzNchzivwkoijcmKFBKnARaXn-hTjklaa_p7eq4&usqp=CAU" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Tu seguro temporal, desde dónde y cuándo quieras, el tiempo que lo necesitas, sin pagar demás!. Elegí la mejor cobertura fraccionada en días.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button><a href="https://mecubro.com" target="_blank">Ver más</a></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
