
.presentation{
  margin: auto;
  height: 71vh;
  width: 40%;
  margin-top: 110px;
  p{
    font-size: 20px;
  }
  bottom: 0%;
}

a{
  color: rgb(158, 158, 158);
  font-style: none;
  text-decoration: none;
}
a:hover{
  color: white;
}
li {
  padding: 10px;
  font-size: 50px;
  display: inline-block;
  list-style: none;

}

.about{
  width: 50%;
  margin: auto;
}
