  <div class="presentation">
    <div class="text-center animate__animated animate__fadeIn">
      <h1>Hola, mi nombre es Aldo!</h1>
      <br>
      <div class="social">
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/martinezaldodev/" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="https://github.com/programadormartinez" target="_blank"><i class="fab fa-github"></i></a>
          </li>
        </ul>
      </div>
      <div class="about">
        <p >Soy un desarrollador front end y backend en las tecnologias Angular, Ionic, React Native, Laravel.
          <br> <br>  Viviendo en Chile ¡Al tiro!</p>
      </div>
    </div>
  </div>
