

.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.9) !important;
  cursor: pointer !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
}
.my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
  font-size: 100px !important;
}

.text-white{
  color: white;
}
h1 {
	color: #fff;
	font-weight: bold;
	margin-top: 13px;
	text-align: center;
}
p {
	color: #fff;
	font-weight: 100;
	margin-top: 40px;
	text-align: center;
}
.loading-icon,
.loading-icon::before,
.loading-icon::after {
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  position: absolute;
  vertical-align: middle;
  background: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.loading-icon::before {
  content: "";
  animation: bounce 1.5s infinite;
}
.loading-icon::after {
  content: "";
  animation: bounce 1.5s -0.4s infinite;
}

@keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    -webkit-transform: (scale2);
    opacity: 0;
  }
}
